.team-member img {
  width: 16em;
  height: 16em;
  border: 1px dotted;
  padding: 0.25em;
}

.about h1 {
  color: var(--color-cyan);
}

.about p {
  font-size: large;
}

.about a {
  color: var(--color-black);
}

.about a:hover {
  color: var(--color-orange);
}
