.data h1 {
  color: var(--color-cyan);
}

.data p {
  font-size: large;
}

.data a {
  color: var(--color-black);
  /* text-decoration-color: var(--color-red); */
}

.data a:hover {
  color: var(--color-orange);
}

.data .layer-icon {
  color: var(--color-red);
  font-size: 1.25em;
  bottom: 1px;
  position: relative;
  color: var(--color-cyan);
}

.data .layer-color {
  color: var(--color-cyan);
}
