.smaller-badge {
  font-size: small;
  bottom: 3px;
  position: relative;
}

.condition-shown u {
  color: var(--color-black);
  text-decoration: none;
}

.results-patients {
  display: flex;
  justify-content: space-between;
}
.results-patient-avatar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.results-patient-avatar-wrapper p {
  font-size: small;
}

.results-patient-avatar-wrapper:hover {
  cursor: pointer;
}
.results-patient-avatar-wrapper .patient-avatar svg {
  filter: grayscale(1);
}
.results-patient-avatar-wrapper:hover .patient-avatar svg {
  background-color: rgba(255, 153, 0, 0.5);
  filter: grayscale(0);
  opacity: 1;
}
.results-patient-avatar-wrapper.active-similar-patient .patient-avatar svg {
  background-color: rgba(255, 153, 0, 0.5);
  filter: grayscale(0);
  opacity: 1;
}
