.navbar {
  font-size: 115%;
}
.navbar .nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* This is HORRIBLE semantics in the DOM but... 🤷‍♀️ */
.navbar .nav div:nth-of-type(1) {
  display: inline-flex;
  width: 16em;
  justify-content: space-between;
  gap: 0.5em;
}

.navbar .nav div:nth-of-type(1) li a {
  font-weight: 400;
  text-decoration: none;
  color: white;
}
.navbar .nav div:nth-of-type(1) li a:hover {
  color: var(--color-orange);
}
.navbar .nav div:nth-of-type(1) li a.active {
  color: var(--color-cyan);
}
.navbar .nav div:nth-of-type(1) li a.active:hover {
  color: var(--color-orange);
}

.navbar .logo {
  height: 1.5em;
  filter: grayscale(1) contrast(5);
}
.navbar .logo:hover {
  filter: grayscale(0) contrast(1);
}
