.processing {
  background-color: white;
  height: 100%;
  left: 0;
  opacity: 0.9;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}

.processing *[role="status"] {
  width: 9em;
  height: 9em;
}

.processing .spinner-border {
  border-width: 1em;
}
